<div class="col s12 l6">
    <div class="card item">
        <div class="card-image">
           <img src={{'https://elanaspantry.com/wp-content/uploads/2013/02/Paleo-Thin-Mints-0574.jpg'}}>
        </div>
        <div class="card-content item-card">
            <span class="card-title" data-id='{{productId}}'>{{productName}}</span>
            <p>{{description}}</p>
            <p>Price: ${{price}}</p>
            <div class='card-action btn-holder clearfix'>
                <button class="green waves-effect waves-light btn add-to-cart" data-id='{{productId}}'>
                <i class="material-icons left">local_grocery_store</i>Add to Cart</button>
            </div>
        </div>
    </div>
</div>